frame/frame.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
frame/frame.xcodeproj/project.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
frame/frame.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/xcschememanagement.plist
frame/frame.xcworkspace/contents.xcworkspacedata
frame/frame.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
frame/frame.xcworkspace/xcuserdata/apple.xcuserdatad/UserInterfaceState.xcuserstate
frame/Pods/Pods.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/Alamofire.xcscheme
frame/Pods/Pods.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/BaiduMapKit.xcscheme
frame/Pods/Pods.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/CryptoSwift.xcscheme
frame/Pods/Pods.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/Moya.xcscheme
frame/Pods/Pods.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/ObjectMapper.xcscheme
frame/Pods/Pods.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/Pods-frame.xcscheme
frame/Pods/Pods.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/Result.xcscheme
frame/Pods/Pods.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/SQLite.swift.xcscheme
frame/Pods/Pods.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/SwiftEventBus.xcscheme
frame/Pods/Pods.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/SwiftyJSON.xcscheme
frame/Pods/Pods.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/xcschememanagement.plist
frame/Pods/Pods.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/SDWebImage.xcscheme
frame/Pods/Pods.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/YBImageBrowser.xcscheme
frame/Pods/Pods.xcodeproj/xcuserdata/apple.xcuserdatad/xcschemes/YYImage.xcscheme
